@import "config";

body{
  margin: 0;
}

.header{
  position: fixed;
  top: 0;
  width: 100%;
  height: $header-height;
  background-color: $color-bg;
  border-bottom: 1px solid $color-gray;
}

section{

  height: $header-height-inverse;

  &.landing{
    margin-top: $header-height;
    background-color: $color-bg;

    >.svg-canvas{
      height: 100%;
    }

    .subhead{
      @extend %text-bold-heading;
      position: absolute;
      white-space: nowrap;
      visibility: hidden;
    }
  }

  &.features{
    background-color: $color-bg-alt;
  }
}


