//noinspection CssUnknownTarget
@import "~Shared/css/config";

body{
  margin: 0;
  background-color: $color-bg;
}

button{
  cursor: pointer;

  &.simple{
    @extend %button-simple;
  }

  &.action{
    @extend %button-action;
  }

  &.jumbo{
    @extend %button-jumbo;
  }
}

p{
  @extend %text-primary;

  &.secondary{
    @extend %text-secondary;
  }

  &.fine-print{
    @extend %text-fine-print;
  }
}

a{
  color: $color-yellow;
  @include pretty-link($color-white);

  &.inverse{
    color: $color-white;
    @include pretty-link($color-yellow);
  }
}

h1, h2, h3, h4, h5, h6, p{
  &.fine-heading{
    @extend %text-fine-heading;
  }
}

header{
  position: fixed;
  top: 0;
  width: 100%;
  height: $header-height;
  background-color: $color-bg;
  border-bottom: 1px solid $color-gray;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  z-index: 2000;

  >.nightly-link{
    @extend %text-fine-heading;
    margin: 0 auto 0 $side-margin;
    height: $header-logo-height;
    width: $header-logo-height * 4;
    fill: $color-white;
    @include pretty-link-fill($color-yellow);
  }

  >button{
    margin: 0 15px;

    &:last-of-type{
      margin-right: $side-margin;
    }
  }
}

section{
  height: $header-height-inverse;

  &.landing{
    margin-top: $header-height;
    background-color: $color-bg;

    >.subhead{
      position: absolute;
      white-space: nowrap;
      visibility: hidden;
    }

    >.call-to-action{
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      right: $side-margin-inward;
      width: calc(20% + 60px);
      min-width: 240px;
      bottom: 60px;

      >button{
        width: 100%;
      }
    }

    >.svg-canvas{
      height: 100%;
    }
  }

  &.features{
    background-color: $color-bg-alt;
    display: flex;
    flex-direction: column;
    align-items: center;

    >.section-head {
      @extend %text-section-title;
      margin: 120px 0 20px 0;
    }

    >.features-list{
      display: flex;
      width: $full-margin;
      margin-top: 80px;
      justify-content: space-evenly;

      >.single-feature{
        padding: 40px;
        border-radius: 4px;
        background-color: $color-bg;
        min-width: calc(15% + 25px);
        text-align: center;

        >.feature-title{
          margin: 0 0 25px;
        }
      }
    }
  }
}

footer{
  height: $footer-height;
  background-color: $color-bg;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .copyright{
    opacity: 0.7;
    line-height: 1.8em;
  }
}
